
$pale-cyan: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$grayish-blue:hsl(208, 11%, 55%);
$pink:hsl(322, 100%, 66%);
$size:18px;
$heading-font:'Poppins';
$body-font:'Open Sans';
$thin:400;
$normal:600;
$bold:700;


*::selection{
    background-color: $pale-cyan;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



